@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    color: #fff;
}
body{
    background-color: #0f0f20;
}
.main_div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.menuToggle{
    position: absolute;
    bottom: 30px;
    height: 70px;
    width: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0,0,10px #000;
    border-radius: 100%;
    cursor: pointer;
}
.menuToggle i{
    font-size: 50px;
    color: #0f0f20;
}

.container{
    height: 30px;
    width: 30px;
    bottom: 30px;
    border: 3px solid rgba(255,255,255,.5);
    border-radius: 20px;
    background: #fff;
    overflow: hidden;
    position: absolute;
    /* display: none; */
    z-index: -1;
    transition: .5s,height .5s,width .5s;
    transition-delay: 1s,0.5s,0.5s;
    transition-timing-function: cubic-bezier(0.075,0.82,0.125,1);
}
.menuToggle.active ~ .container{
    height: 520px;
    width: 350px;
    z-index: 1;
    transform: translateY(-100px);
    transition-delay: 0s,0.5s,0.5s;
}
.container::before{
    content: "";
    position: absolute;
    background: #fff;
    height: 100px;
    width: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    transition: .5s;
    /* box-shadow: 0 15px 25px rgba(0,0,0,.1); */
}
.menuToggle.active ~ .container::before{
    transition-delay: .5s;
}
.container .top_part{
    height: 100px;
    background: #0f0f20;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.container .top_part i{
    font-size: 20px;
    cursor: pointer;
}
.top_part .Bot_detail{
    display: flex;
    align-items: center;
}
.bor{
    border: 3px solid rgba(255,255,255,.25);
    border-radius: 20px;
    padding: 15px;
    overflow: hidden;
}
.container .top_part .Bot_detail img{
    height: 40px;
}
.top_part .Bot_text{
    margin-left: 10px;
}
.Bot_text h3{
    font-size: 15px;
}
.Bot_text p{
    font-size: 11px;
}
.Bot_text span{
    color: #0f0;
}
.chat{
    position: relative;
}
.Left_part{
    margin: 60px 0;
    max-width: 260px;
}
.Left_part p{
    color: #555;
    font-weight: 400;
    font-size: 15px;
    background: rgba(0,0,0,.1);
    border-radius: 10px;
    padding: 10px;
}
.Left_part img{
    height: 50px;
}
.chart{
    display: flex;
    align-items: center;
}
.chat .Right_part{
    margin: -50px 0;
    text-align: right;
    max-width: 260px 0;
    float: right;
}
.chat .Right_part p{
    color: #fff;
    background: #0f0f20;
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 10px;
}
.Bottom{
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid rgba(0,0,0,.1);
    padding: 10px;
}
.Bottom i{
    color:#0f0f20;
    font-size: 30px;
    cursor: pointer;
}
.Bottom textarea{
    height: 40px;
    color: #0f0f20;
    padding: 0,5px;
    resize: none;
    width : 80%;
    outline: none;
    border: none;
    text-transform: capitalize;
    overflow: hidden;
}